body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #423d20ff;
}

header {
  text-align: center;
  padding: 50px;
  background-color: #161b22;
}

h1 {
  color: #fcfcfc;
}
h2{
    color :#f8fbfb;
}
section {
  padding: 20px 50px;
}

.project-card {
  display: flex;
  background-color: #021c18;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px ;
  color: #f8fbfb;
  border:2px solid #353506;

}

.project-card img {
  width: auto;
  height: auto;
  max-width: 300px;
  display: block;
}
.card{
  color: rgb(245, 246, 246);
  border:2px solid #353506;
  width: auto;
  height: auto;
}

