body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

header {
  text-align: center;
  padding: 50px;
  background-color: #161b22;
}

h1 {
  color: #1a1a2e;
}
h2{
    color :#00f2ff;
}
section {
  padding: 20px 50px;
}

.project-card {
  display: flex;
  background-color: #1a1a2e;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
}

.project-card img {
  width: 100%;
  max-width: 300px;
  display: block;
}